//Grid template setting
@mixin grid-template-set($section){
    @if ($section == "header"){
        $section: $grid-columns-header;
    } @else if ($section == "localisation"){
        $section: $grid-columns-localisation;
    }
    grid-template-columns: repeat($section, 1fr);
}

//Grid position setting
@mixin grid-pos-set ($row-start, $row-end, $col-start, $col-end) {
    grid-row: $row-start unquote("/") $row-end;
    grid-column: $col-start unquote("/") $col-end;
}

//Bouton 
@mixin about {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

@mixin btn-about {
    margin-top: 1rem;
    background-image: $linear-gradient;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 15px 10px;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 4px #aaa;
    cursor: pointer;
}