@import 'layout/header';
@import 'layout/footer';

@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_components';
@import '_normalizer';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

main{
    font-family: 'Roboto', sans-serif;

    & .localisation {
        @extend %grid-center;
        @include grid-template-set($localisation);
        padding: 1em;
        background: $gris-clair;
        background: linear-gradient(
            180deg,
             rgba(173,173,173,.35) 0%,
             rgba(234,234,234,.75) 15%,
             rgba(234,234,234,1) 100%); 
        & h3 {
            & i {
                padding: 0 0.5em 0 0;
            }
        }

    }

    & .presentation {
        @extend %grid-center;
        @include grid-template-set($presentation);
        padding: 2em 0 3em;
        background-color:#f6f6f6;
        text-align: center;
        
        & h2 {
            padding: 0 5em;
        }
        & p {
            padding: 1em 5em 2em;
        }
    }

    /* Debut section commentCaMarche */
    & .commentCaMarche {
        @extend %grid-center;
        @include grid-template-set(1);
        padding: 3em 1em;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }
        & ol {
            display: grid;
            @include grid-template-set ($commentCaMarche);
            @include grid-pos-set (2, auto, 1, 4);
            grid-gap: 2em;
            margin: 1em 1em 0;
            justify-self: normal;
            counter-reset: section;
        }
        & li::before {
            counter-increment: section;
            content: counter(section);
            position: relative;
            left: -1.9em;
            padding: 0.3em 0.6em;
            border-radius: 70%;
            background-color: $violet-primaire;
            color: $txt-fond-sombre;
        }
        & li:hover {
            background-color: lighten($violet-primaire, 35%);
            & i {
                color: $violet-primaire;
            }
        }
        & p {
            display: inline-block;
            position: relative;
            left: -0.7em;
        }
        & i {
            padding: 0 1em 0 0;
        }
    }

    /* Debut section lesRestaurants */
    & .lesRestaurants {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 3em 1em;
        background: #f6f6f6;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }
        & ul {
            @include grid-pos-set (2, auto, 1, 5);
            @include grid-template-set ($lesRestaurants);
            display: grid;
            grid-gap: 2em;
            justify-self: normal;
            margin: 1em 0;
        }

        & .sticker.sticker__new {
            color: #1b6150;
            padding: 10px 20px;
            margin: 0;
            position: absolute;
            background: #99e2d0;
            top: -16rem;
            right: 2rem;
        }
        & img {
            height: 60%;
            width: 100%;
            border-radius: 1rem 1rem 0 0;
            box-shadow: none;
            object-fit: cover;
        }
        & a {
            background-color: #fff;
            border-radius: 1rem;
            position: relative;
            text-decoration: none;
            color: inherit;
        }
    }
}