@import '../_variables';
@import '../_mixins';
@import '../_placeholders';
@import '../_components';


footer{
    background-color: $gris-sombre;
    padding: 3em;

    & h2 {
        color: #fff;
        font-family: Shrikhand,"cursive";
        font-size: 1.2rem;
        margin: 0 0 1rem;
    }

    & li {
        margin: 0.75rem;
    }

    & a{
        color: #fff;
        text-decoration: none;
    }
        & i {
            margin-right: .5rem;
        }
}