@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
main .menuDuResto, main .lesRestaurants, main .commentCaMarche, main .presentation, main .localisation, footer, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .menuDuResto__carte h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 3rem;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away, button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover, button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away, button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover, button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.loader {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: 1s fadeOut 3000ms ease forwards;
}

.loading {
  display: flex;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #d9b2df;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #d48be0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #cf66df;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #cc44e0;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #c416df;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}
header #blockimg {
  width: 30%;
  grid-row: 1 / auto;
  grid-column: 1 / auto;
}
header #blockimg img {
  width: 100%;
}
header h1 {
  font-family: "Shrikhand", "cursive";
  grid-template-columns: repeat(1, 1fr);
}
header .btn__retourHome {
  position: absolute;
  left: 2rem;
  height: 2rem;
}

main .menuDuResto, main .lesRestaurants, main .commentCaMarche, main .presentation, main .localisation, footer, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .menuDuResto__carte h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 3rem;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away, button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover, button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away, button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover, button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.loader {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: 1s fadeOut 3000ms ease forwards;
}

.loading {
  display: flex;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #d9b2df;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #d48be0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #cf66df;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #cc44e0;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #c416df;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
footer {
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  color: #ffffff;
  background: #353535;
  font-family: "Roboto", sans-serif;
}
footer h2 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  margin: 0 0 1.5rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.4em;
  font-weight: normal;
  justify-self: start;
}
footer ul {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
}
footer ul li {
  margin: 0 0 0.5rem 0;
}
footer ul li a {
  color: #ffffff;
}
footer ul li a .fa-utensils {
  padding: 0 1rem 0 0;
}
footer ul li a .fa-hands-helping {
  padding: 0 0.55rem 0 0;
}

main .menuDuResto, main .lesRestaurants, main .commentCaMarche, main .presentation, main .localisation, header, footer {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .menuDuResto__carte h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 3rem;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away, button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover, button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away, button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover, button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.loader {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: 1s fadeOut 3000ms ease forwards;
}

.loading {
  display: flex;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #d9b2df;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #d48be0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #cf66df;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #cc44e0;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #c416df;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  /* 1 */
}

h1 {
  font-size: 2em;
}

ul, ol {
  list-style: none;
}

.stop {
  clear: both;
}

strong {
  font-weight: normal;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

br {
  margin-bottom: 10px;
}

main {
  font-family: "Roboto", sans-serif;
  /* Debut section commentCaMarche */
  /* Debut section lesRestaurants */
}
main .localisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #e2e2e2;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}
main .localisation h3 i {
  padding: 0 0.5em 0 0;
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background-color: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 5em;
}
main .presentation p {
  padding: 1em 5em 2em;
}
main .commentCaMarche {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
main .commentCaMarche h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .commentCaMarche ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  grid-gap: 2em;
  margin: 1em 1em 0;
  justify-self: normal;
  counter-reset: section;
}
main .commentCaMarche li::before {
  counter-increment: section;
  content: counter(section);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: #ffffff;
}
main .commentCaMarche li:hover {
  background-color: #f2eafb;
}
main .commentCaMarche li:hover i {
  color: #9356DC;
}
main .commentCaMarche p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}
main .commentCaMarche i {
  padding: 0 1em 0 0;
}
main .lesRestaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  background: #f6f6f6;
  /* Fin section lesRestaurants */
}
main .lesRestaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .lesRestaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-self: normal;
  margin: 1em 0;
}
main .lesRestaurants li {
  display: inline-block;
  width: 100%;
}
main .lesRestaurants a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
main .lesRestaurants a .sticker {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #008766;
  background: #99e2d0;
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
}
main .lesRestaurants a img {
  height: 12.5em;
  width: 100%;
  border-radius: 1.5em 1.5em 0 0;
  padding: 0 0 0.5rem 0;
  object-fit: cover;
}
main .lesRestaurants a h3, main .lesRestaurants a p {
  padding: 0 1rem 0.5rem;
}
main .lesRestaurants a .btn__like {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
}
main .menuDuResto {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-items: normal;
  background: #f6f6f6;
}
main .menuDuResto__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20em;
  object-fit: cover;
}
main .menuDuResto__carte {
  padding: 2em 1em 0;
  background: #f6f6f6;
  border-radius: 3em 3em 0 0;
}
main .menuDuResto__carte h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  margin: 0 0 1em;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
main .menuDuResto__carte h2 button {
  margin: 0 0 0 2rem;
  font-size: 1em;
  position: relative;
}
main .menuDuResto__carte h3 {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  text-transform: uppercase;
  font-weight: normal;
}
main .menuDuResto__carte ul {
  grid-row: 3 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin: 1em 0 2.5em;
  justify-self: normal;
  counter-reset: section;
}
main .menuDuResto__carte ul .list-item {
  position: relative;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.05em;
  animation: showingDishes 1000ms forwards;
  opacity: 0;
}
main .menuDuResto__carte ul .list-item--1 {
  animation-delay: 100ms;
}
main .menuDuResto__carte ul .list-item--2 {
  animation-delay: 200ms;
}
main .menuDuResto__carte ul .list-item--3 {
  animation-delay: 300ms;
}
main .menuDuResto__carte ul .list-item--4 {
  animation-delay: 400ms;
}
main .menuDuResto__carte ul .list-item--5 {
  animation-delay: 500ms;
}
main .menuDuResto__carte ul .list-item--6 {
  animation-delay: 600ms;
}
main .menuDuResto__carte ul .list-item--7 {
  animation-delay: 700ms;
}
main .menuDuResto__carte ul .list-item--8 {
  animation-delay: 800ms;
}
main .menuDuResto__carte ul .list-item--9 {
  animation-delay: 900ms;
}
@keyframes showingDishes {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main .menuDuResto__carte ul .list-item h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1em;
}
main .menuDuResto__carte ul .list-item p {
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item strong {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  transition: all 0.5s;
  font-weight: 600;
}
main .menuDuResto__carte ul .list-item span {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #99E2D0;
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item span .fa-check-circle {
  transform: rotate(-240deg);
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item:hover p {
  width: 67%;
}
main .menuDuResto__carte ul .list-item:hover strong {
  right: 6.5rem;
}
main .menuDuResto__carte ul .list-item:hover span {
  right: 0;
}
main .menuDuResto__carte ul .list-item:hover span i {
  transform: rotate(0deg);
}
main .menuDuResto a {
  padding: 1em 2.5em;
  justify-self: center;
}

/* media queries */
@media (max-width: 1270px) {
  main .lesRestaurants ul {
    grid-row: 2 / auto;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
  }
  main .menuDuResto ul {
    grid-row: 3 / auto;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  main .commentCaMarche ol {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
  }
  main .menuDuResto ul {
    grid-row: 3 / auto;
    grid-column: 1 / 3;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 540px) {
  main .commentCaMarche ol {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
  }
  main .lesRestaurants ul {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
  }
}
